* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.team {
  &__header {
    margin-bottom: 30px;

    h1 {
      font-size: 40px;
      text-align: center;
      color: red;
    }

    p {
      font-size: 20px;
      text-align: center;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  &__card {
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;

    &__title {
      font-size: 25px;
      color: red;
    }

    &__desc {
      margin-bottom: 20px;
    }

    &__link {
      display: inline-block;
      padding: 10px 20px;
      border: 2px solid red;
      text-decoration: none;
      color: red;
      transition: 0.5s;

      &:hover {
        background-color: red;
        color: white;
      }
    }
  }
}